addict==2.4.0
denoising-diffusion-pytorch==1.9.4
docker-pycreds==0.4.0
einops==0.6.0
ema-pytorch==0.3.0
hdf5storage==0.1.19
matplotlib==3.7.1
mmcv-full==1.7.0
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
packaging==23.0
pandas==2.1.4
Pillow==9.4.0
protobuf==3.20.3
pyparsing==3.0.9
python-dateutil==2.8.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
smmap==5.0.1
sympy==1.12
tensorboardX==2.6
tifffile==2023.2.27
timm==0.6.12
torch==1.12.1+cu113
torchstat==0.0.7
torchsummary==1.5.1
torchvision==0.13.1+cu113
tqdm==4.64.1
